{% extends "Common/Inicio.html" %}
{% load static %}

{% block contenido %}

<section>
    <div>
      <h1>Usuarios</h1>
      <a href="{% url "crearUsuario" %}">Crear Usuario</a>
      <br><br>
      <form action="{% url 'buscarUsuario' %}" method="post">
        {% csrf_token %}
        <input type="text" name="búsqueda">
        <input type="submit" value="Buscar por Usuario">
      </form>
      <br>
      <ul>
      {% for usuario in usuarios %}
        <li>{{ usuario.usuario }}</li>
      {% endfor %}
      </ul>
    </div>
  </section>

{% endblock contenido %}